html {
  scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto 0;
}

main {
  flex: 1 0 auto;
}

/*COVER*/

#cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.cover {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    z-index: -1;
}

.cover-text-container {
    text-align: center;
}

.name-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: 60%;
}

.sub-text {
    white-space: pre;
    color: white;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    /*take out to center cursor*/
/*    float: left;*/
}

.social-links {
    padding: 5px;
    margin-block-start: 1.5em;
}

.social-links li {
    font-size: 150%;
    line-height: 100%;
    display: inline-block;
    margin: 5px;
}

.social-links i {
    color: white;
    opacity: 0.75;
}

.social-links i:hover {
    opacity: 1;
}

#scroll-down {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}

#button {
    position: absolute;
    display: flex;
    align-self: flex-end;
    align-content: center;
    justify-content: center;
    left: 50%;
    right: 50%;
    bottom: 3%;
    width: 20px;
    height: 40px;
    padding: 2px 13px;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 35px;
    color: #fff;
}

/*PROJECTS*/

@media (max-width: 1989px) {
    #projects-container {
        width: 100%;
        min-height: 100vh;
        background-color: white;
    }
}

@media (min-width: 1920px) {
    #projects-container {
        width: 100%;
        min-height: 100vh;
        background-color: white;
        padding: 0px 10%;
    }
}

@media (min-width: 2560px) {
    #projects-container {
        width: 100%;
        min-height: 100vh;
        background-color: white;
        padding: 0px 16%;
    }
}


.projects-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 35px;
    margin-bottom: 35px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background: #141414;
    color: #5C5E5F;
    padding-left: 5px;
    padding-right: 25px;
}

#footer-container a {
    text-transform: uppercase;
    text-decoration: none;
    color: #B3B3B3;
    opacity: 1;   
    transition: opacity .3s ease-in-out;
}

#footer-container p {
    color: #B3B3B3;
}

#footer-container a:hover {
    opacity: 0.6;
}

.nav-links {
    padding: 5px;
}

.nav-links li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (min-width: 1024px) {
    #footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 5vh;
        margin-top: auto;
        background: #141414;
        color: #5C5E5F;
        padding-left: 5px;
        padding-right: 25px;
    }
    #footer-container a {
      text-transform: uppercase;
      text-decoration: none;
      color: #B3B3B3;
      opacity: 1;   
      transition: opacity .3s ease-in-out;
    }

   #footer-container p {
      color: #B3B3B3;
    }

    #footer-container a:hover {
      opacity: 0.6;
    }
    .nav-links {
    padding: 5px;
  }
    .nav-links li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.typed-cursor{
    color: white;
    /*Take out to center cursor*/
/*    float: left;*/
}